header {                        // A VERIFIER
    padding-top: 1.25rem;
    padding-bottom: .75rem;

    background-color: $bg-dark;

   .h1, .h3, i {

    color: $header-color;
    background-image: $bg-orinoco;
    background-clip: content-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -ms-background-clip: text;
   }

   .h1, .h3 {

    text-align: left;
   }

   span.h1 {
      font-size: $FS_logo;
   }

 }

#panier {                   // A VERIFIER
    text-align: right;

}



// ok
#basketLogo {
    transition-duration: 340ms;
    transition-property: all;

    font-size: $FS_logo;

    a {
        margin : auto;
        @extend %hoverScaleUp;
    }
       
}
