@media screen and (max-width: 780px){
    body{
        font-size: 1.4rem;
    }
}


body {
    background-color: $bg-main;
}


.container{
    padding: 1.5rem;
    margin-bottom: 3rem;
}

#basketLogo {
    transition-duration: 340ms;
    transition-property: all;

    font-size: $FS_logo;
    &:hover{
        font-size: $FS_logo*1.125;
    }
}


aside {
    background-color: slategrey;
}

