.btn {
    display:inline-block;

    color:$btn-text-color;
    font-size: $FS_btn;
    //border-radius:0.5rem;
    //border: none;

    background-image: linear-gradient(125deg, $color-sec, $color-prim, $color-sec);
    background-size: 220%, 100%;
    background-position: 0 0 ;

    transition-duration: 340ms;
    transition-property: all;
    
    &:hover{
        font-size: $FS_btn*1.2;
        color:$btn-text-color;
        background-position: 100% 0;
        transition-delay: 50ms;
    }

    @extend %clic;

    &:visited{
        color:$btn-text-color;
    }

}