h1, h2, h3, h4, h5, h6, *, body {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

.btn {
  position: relative;
}

.btn:active {
  top: 3px;
}

#basketLogo a:hover, .furniture:hover, aside a:hover {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

@font-face {
  font-family: "Shrikhand";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/shrikhand/shrikhand-regular-webfont.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-medium";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-light";
  src: url("https://aurelbouchard.github.io/AurelienBouchard_3_05032021/public/fonts/roboto/Roboto-Light.ttf");
  font-style: normal;
}

body {
  font-family: "Roboto-regular";
}

.logo {
  font-family: "Shrikhand";
}

.title {
  font-family: "Shrikhand";
}

.h1 {
  font-family: "Roboto-bold";
}

.h2 {
  font-family: "Roboto-medium";
}

.h3 {
  font-family: "Roboto-light";
}

.h5 {
  font-family: "Roboto-light";
}

.h6 {
  font-family: "Roboto-light";
}

.h7 {
  font-family: "Roboto-medium";
}

.entree_plat_dessert {
  font-family: "Roboto-light";
}

.btn {
  font-family: "Roboto-medium";
}

.flag_new {
  font-family: "Roboto-medium";
}

* {
  margin: 0;
  padding: 0;
}

*:hover {
  text-decoration: none;
}

body {
  min-width: 320px;
}

a:active {
  color: #925dfe;
}

ul, li, ol {
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

.btn {
  display: inline-block;
  color: white;
  font-size: 1.125rem;
  background-image: linear-gradient(125deg, #df8620, #925dfe, #df8620);
  background-size: 220%, 100%;
  background-position: 0 0;
  -webkit-transition-duration: 340ms;
          transition-duration: 340ms;
  -webkit-transition-property: all;
  transition-property: all;
}

.btn:hover {
  font-size: 1.35rem;
  color: white;
  background-position: 100% 0;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.btn:visited {
  color: white;
}

@media screen and (max-width: 780px) {
  body {
    font-size: 1.4rem;
  }
}

body {
  background-color: #f2e8f0;
}

.container {
  padding: 1.5rem;
  margin-bottom: 3rem;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

header {
  padding-top: 1.25rem;
  padding-bottom: .75rem;
  background-color: #0a080c;
}

header .h1, header .h3, header i {
  color: transparent;
  background-image: linear-gradient(125deg, #df8620, #925dfe);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
}

header .h1, header .h3 {
  text-align: left;
}

header span.h1 {
  font-size: 2rem;
}

#panier {
  text-align: right;
}

#basketLogo {
  -webkit-transition-duration: 340ms;
          transition-duration: 340ms;
  -webkit-transition-property: all;
  transition-property: all;
  font-size: 2rem;
}

#basketLogo a {
  margin: auto;
}

footer.container-fluid {
  padding-top: 1rem;
  background-color: #0a080c;
}

footer.container-fluid * {
  color: #d4c5e2;
}

.furniture {
  border: none;
  -webkit-transition-duration: 340ms;
          transition-duration: 340ms;
  -webkit-transition-property: all;
  transition-property: all;
}

aside a {
  -webkit-transition-duration: 340ms;
          transition-duration: 340ms;
  -webkit-transition-property: all;
  transition-property: all;
}
/*# sourceMappingURL=main.css.map */