// A CHANGER !!!!!

.article{
    border: none;
}

.article .card-header{
    background-color: #343a40;

}

.article .card-body{
    background-color: rgba(0,0,0,0.4);
}

.article .publication-date{
    text-align: right;
}

.article .addFavorite{
    font-size: 1.4rem;
    position: absolute;
    top: 80px;
    right: 10px;
}

.article .addFavorite .far{
    color: rgba(0,0,0,0.2);
}

.article .addFavorite:hover{
    color: yellow;
    cursor: pointer;
}